@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");*/

@layer base {
    /** {*/
    /*    padding: 0;*/
    /*    margin: 0;*/
    /*    -webkit-box-sizing: border-box;*/
    /*    box-sizing: border-box;*/
    /*}*/
    /*body {*/
    /*    line-height: 1;*/
    /*    !*font-family: "Work Sans";*!*/
    /*    font-size: 16px;*/
    /*}*/
    body {
        @apply font-primary text-base text-main;
    }

    input,
    button,
    textarea {
        outline: none;
    }

    ::selection {
        @apply bg-sky-600;
        @apply text-white;
    }

    .shadow-box {
        box-shadow: 0 12px 24px -6px rgba(24, 26, 42, 0.12);
    }

    body.disabled-scroll {
        @apply overflow-y-hidden !important;
    }

    .animate-modal {
        animation: effectModal 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    @keyframes effectModal {
        from {
            @apply opacity-0;
        }

        to {
            @apply opacity-100;
        }
    }

    @keyframes shine {
        to {
            background-position-x: -200%;
        }
    }

    /* Carousel Slick */
    .slider-container .slick-slide {
        padding: 0 10px;
    }

    .slider-container .slick-dots li button:before {
        @apply dark:text-white;
    }

    .skeleton {
        background-color: #eee;
        background-image: linear-gradient(110deg,
        #ececec 8%,
        #f5f5f5 18%,
        #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .test {
    }
}